.text-black {
	color: #333;
}
/*
.div-radius {
	background-color: #ff3838;
	border-radius: 50%;
	border-width: 0;
	width: 20px;
	height: 20px;
}
*/
.tb-nopadding {
	padding-left: 0;
	padding-right: 0;
}

/*顶部titlebar*/
.x-panel-top .x-titlebar {
	background-color: #ff3838;
}

.x-cards {
	padding: 0px;
}

/*左右模块*/
.tb-box,.tb-box>.col {
	height: 100%;
	margin: 0;
	padding: 0;
}

.tb-box>.col {
	overflow: auto;
}

.tb-box>.col:first-child {
	padding-right: 5px;
}

/*一级分类*/
.list-group {
	box-shadow: none;
}

.list-group-item {
	background-color: #f5f5f5;
	border-radius: 0;
	border-color: #e1e1e1;
}

.list-group-item.current {
	background-color: #fff;
	border-right: 0;
	color: #cf0202;
}

.list-group-item.current span {
	color: #cf0202;
}

/*三级分类列表*/
.tb-listBox {
	margin-top: 1px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}

.tb-listBox div {
	background-color: #fff;
}

.tb-listBox p {
	font-size: 13px;
	margin-top: 0px;
}